* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(20deg, var(--body-bg), hsl(184, 100%, 35%));
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  height: 100vh;
}

.box {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  background: hsl(0, 1%, 70%);
  width: 500px;
  height: 550px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -275px;
}
.box h2 {
  font-size: 2rem;
}

.input-box {
  /* border: 2px solid red; */
  width: 350px;
  height: auto;
  padding: 10px;
  font-size: 1.5rem;
  display: block;
  /* text-align: left; */
}
#slider {
  pointer-events: none;
  width: 200px;
  transform: scale(150%);
}
.slider-box {
  font-size: 1.5rem;
}

.btn-box {
  /* border: 2px solid rgb(0, 255, 4); */
  width: 300px;
  text-align: center;
  padding: 10px;
}
.display-box {
  /* border: 2px solid blue; */
  width: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}

input {
  accent-color: hsl(184, 100%, 35%);
}

input[type="checkbox"] {
  transform: scale(175%);
}

.btn {
  height: 50px;
  width: 45%;
  margin: 5px;
  padding: 5px;
  font-size: 1.75rem;
  border: none;
  color: white;
  border-radius: 30px;
  background-color: hsl(184, 100%, 35%);
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(184, 100%, 28%);
}

.qty {
  text-align: end;
  width: 50px;
  margin-left: 20px;
}
.hidden {
  display: none;
}
